<h2>Etc</h2>     
<table>           
	<%= render partial: 'table_head' %>
	
	<%= render partial: 'get',
		locals: {
			url: "/properties.json",
			data: {},
			page: false,
			note: ""
		}
	%>
</table>